.navbar-main {
  word-spacing: 0px !important;
}
.dropDown-list-item {
  display: flex;
  width: 100%;
  list-style: none;
}

.dropDownMenu {
  width: 1260px;
  height: 520px;
  background: #fff;
  transform: translateX(-9%);
}

.dropDown-list-item > ul {
  list-style: none;
  text-decoration: none;
  width: 100%;
}
.dropDown-list-item > ul > li > a {
  list-style: none;
  text-decoration: none;
}
nav .nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  word-spacing: 0em !important;
}

nav .nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu .mega-menu {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
nav .dropdown-menu .mega-menu .row {
  display: flex;
}

nav .dropdown-menu .mega-menu .col {
  padding: 0 10px;
}

nav .dropdown-menu h3 {
  margin-bottom: 5px;
  /* font-family: "Lato"; */
  font-size: 14px;
  font-weight: 700 !important;
  color: #1d30e0;
}

nav .dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .dropdown-menu ul li {
  margin-bottom: 10px;
  /* font-family: "Lato"; */
}

nav .dropdown-menu ul li a {
  display: block;
  text-decoration: none;
  color: #717274;
  font-weight: 400;
}

nav .dropdown-menu ul li a:hover {
  color: #458500;
}

.col ul li {
  font-size: 12px;
  width: 220px;
  padding: 0px !important;
  margin: 0px !important;
}

.heading-mt {
  margin-top: 10px;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .dropDownMenu {
    width: 100vw;
    height: 520px;
    /* transform: translateX(-7%); */
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .dropDownMenu {
    width: 100vw;
    height: 520px;
    /* transform: translateX(-7%); */
  }
}
@media screen and (max-width: 1260px) {
  .dropDownMenu {
    width: 100vw;
    height: 520px;
    /* transform: translateX(-7%); */
  }
  .col ul li {
    width: 200px;
  }
}
@media screen and (max-width: 1156px) {
  .dropDownMenu {
    width: 100vw;
    height: 520px;
    transform: translateX(-10%);
  }
  .col ul li {
    width: 180px;
  }
}
@media screen and (max-width: 1056px) {
  .dropDownMenu {
    width: 100vw;
    height: 520px;
    transform: translateX(-11%);
  }
  .col ul li {
    width: 170px;
  }
}
@media screen and (max-width: 992px) {
  .dropDownMenu {
    width: 95vw;
    height: auto;
    transform: translateX(-1%) !important;
  }
  nav .dropdown-menu .mega-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}
nav .dropdown-menu .mega-menu .row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 9991px) {
}
@media screen and (max-width: 450px) {
}
