.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/icons/plusIcon.svg");
  /* transform: rotate(45deg);     */
  background-position: center;
}
.sidebar .accordion-button::after {
  margin-right: -20%;
  background-image: url("./assets/icons/plusIcon.svg");
  /* background-color: white; */
}
.sidebar .accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #ffffff;
}
