@import "../helperStyle/helper-style";

.mainBox {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: auto;
}
.QAH1 {
  color: #000000;
  width: 100%;
  background-color: #fafafa;
  height: 71px;
  display: flex;
  justify-content: start;
  align-items: center;
  @include fontStyle1(700, 17, 27);
  padding-left: 20px;
}

.descH1 {
  @include fontStyle1(700, 17, 27);
  color: #000000;
}
.title2 {
  @include fontStyle1(700, 16, 27);
  color: #000000;
}

.descLi > ul > li {
  list-style: none;
  @include fontStyle1(400, 14, 25);
}
.boldFont1 {
  list-style: none;
  @include fontStyle1(700, 14, 25);
  margin-left: 3px;
}
.para1 {
  @include fontStyle1(400, 14, 25);
}
.blueFont1 {
  @include fontStyle1(700, 14, 25);
  color: #1976d2;
}

.table2H1 {
  background-color: #fafafa;
  height: 36px;
  width: 100%;
  @include fontStyle1(700, 17, 25);
  color: #000000;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.table2H2 {
  height: auto;
  border: 1px solid #e0e0e0;
  width: 100%;
  @include fontStyle1(700, 17, 25);
  color: #000000;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.table2H3 {
  border: 1px solid #e0e0e0;
  width: 100%;
  @include fontStyle1(700, 17, 25);
  color: #000000;
  display: flex;
  align-items: baseline;
  justify-content: end;
  padding-left: 20px;
  padding-right: 20px;
}

@include media(768px) {
  .table2H1 {
    height: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px;
  }
}
