/* navbar css start */
.navbackground {
    background-color: #458500;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    word-spacing: 1em;
}

.abc {
    color: #FFFFFF;
}

.btnspace {
    white-space: nowrap;
    border-radius: 10px;
}


.bstimg img {

    height: 40px;
    background: none;
}

.navsection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #1B6512;
    gap: 0.2em;
}


.navsectionmain {
    display: flex;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 7.84px 8px 8px;
    width: 16.1em;
    height: 2.5em;

}

/* navbar css start */



/* Hero Section css start */

.mainhero {
    display: flex;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    width: 692px;
    height: 48px;
    background: #FFD529;
    gap: 1em;
}

.shopbtn {
    background: linear-gradient(0deg, #EF6C00 0%, #F38A00 100%);
    border-radius: 5px;
    margin-bottom: 1em;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.cruveclr {
    width: 48px;
    height: 48px;

    background: linear-gradient(315deg, #468101 50%, #FFD529 50%);
}

.herolast {
    padding: 5px;
    width: 628px;
    height: 48px;
    background: #468101;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    width: 692px;
    height: 48px;
    background: #468101;
    gap: 1em;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .mainhero {
        display: none;
    }
}


/* Carousel */
.carousel-item img {
    width: 1440px;
    height: 366px;
}

@media screen and (max-width: 450px) {
    .carousel-item img {
        width: 1440px;
        height: 200px;
    }
}



.herocards1 {
    width: 220px;
    height: 50px;
    left: calc(50% - 200px/2 - 400px);
    top: 301.98px;
    text-align: center;
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #E0E0E0;
    box-shadow: 2px 3px 3px rgba(248, 242, 242, 0.24);
}

.herocards {
    display: flex;
    justify-content: center;
}

.card1dis {
    color: #F38A00;
}

.seeallcard {
    text-decoration: none;
}


@media (max-width: 450px) {

    .herocards {
        display: none;
    }
}


/* Hero Section css End */


/*  speacilsSection css start */


.speacilsSection {
    width: 100%;
    
    background: #FAFAFA;
}

.speacilsSectionWrap {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.SpecialsTextstyle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.cardscontainer {
    width: 1370px;
    height: 344px;
    left: 15px;
    top: 62.02px;
    background: #FAFAFA;
}

.cardsbody {
    width: 213.33px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 8px;

}

.card-wrapper{
    
}
.card{
    width: calc(100% / 5);
    margin: 0.5em;
}
.card > img{
    width: 100%;
}



/*  speacilsSection css End */



/* tradingsection css start */

.tradingsection {
    width: 100%;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
}

.treandingdiv {
    display: flex;
    text-align: center;
    align-items: center;
}

.trdtext {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.trdinput {
    width: 156px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -7.09px 0px;
}

/* tradingsection css End */



/* footer css Start  */


.ftrtext {
    color: gray;
}

.ftrsection {
    background: #FAFAFA;
    height: 100%;
}

.qrimg img {
    height: 80px;
    width: 80px;
}


@media (max-width: 450px) {
    .ftrsection {
        height: 100%;
    }
}


.footercenter{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media screen and (max-width : 450px) {
 
.footercenter{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}    


.ftritems{
    width: 90%;
}



}

.textoffer{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
}


.ftritems{
    width: 60%;
}


.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 15px 10px;
    border-radius: 5em;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #FAFAFA;
    transition: 0.3s;
  }
   
  
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
.number{
  color: #E57125;
}

.fotrpra{
    text-align: left;
}
.fotrpra2{
    text-align: left;
}


.endfooter{
    display: flex;
    justify-content: center;
    width: 100%;
}

.endfooterwrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.endpra{
    display: flex;
    justify-content: center;
    align-items: center;
}

.endpra2{
    text-align: center;
}


@media only screen and (max-width: 450px) {
    .endpra {
      display: none;
    }
    .endpra2{
        text-align: center;
    }
    .endftrlink{
        display: flex;
        justify-content: center;
      }
  }

  .endftrlink{
    display: flex;
    justify-content: center;
    gap: 1em;
  }

/* footer css End */