
/* Navbar start */

@media screen and (max-width:480px) {
      .navbar-dektop{
            display: none;
      }
      .navbar-mobile{
            background-color: #458500;
      }
      .navbar-search{
            position: relative;
      }
      .navbar-search > i{
            position: absolute;
            top: 35%;
            left: 2%;
      }
      .navbar-search > input{
            height: 80%;
      }
      .navbar-icons > img{
            width: 1.5rem;
            height: 1.2rem;
            margin: 0px 5px;
            
      }
}



/* About */

@media screen and (max-width:480px) {
      .affordable-cs-main img {
      width: 4rem;
      height: 3.5rem;
      margin: 10px ;
      
      }
      .affordable-cs-main{
            font-size: 0.7rem;
            
            }
      .affordable-cs2{
            display: none;
            }
}




@media screen and (min-width:481px) {
      .navbar-mobile{
            display: none;
      }
}




/* Footer start */
@media screen and (max-width:480px) {
      .endfooterwrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 90%;
            font-size: 10px;
            height: 100%;
      }



}


@media screen and (max-width : 480px) {

      .footercenter {
            background-color: #FAFAFA;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: right;
            text-align: start;
            font-size: 10px;
      }


      .ftritems {
            width: 90%;
      }


      .textoffer {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
      }


      .social-buttons {
            align-items: start;
      }





      .social-button {
            display: flex;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 10px;
            background-color: #FAFAFA;
            transition: 0.3s;
      }

      .social-buttons svg {
            transition: 0.3s;
            height: 10px;
      }

      .mobile-g-none {
            display: none;
      }


      .mobile-installiicon-section {
            width: 60%;
      }

      .mobile-qr-none {
            display: none;
      }


      .Get-the-wallHerb-App-Today-for-mobile {
            font-size: 12px;
      }

}


@media screen and (min-width:480px) {
      .Get-the-wallHerb-App-Today-for-mobile {
            display: none;
      }
}



/* Footer end*/




/* About start */

@media screen and (max-width:480px) {
      .iHerb-a-a-glance-for-mobile h3 {
            font-size: 24px;
      }

      .Top-10-reasons {
            width: 80%;
      }

      .about-top-ten-section-wrap {
            width: 100%;

      }

      .about-top-ten-section-list {
            display: flex;
            gap: 1em;
            text-align: left;
            flex-direction: column;

      }


      .top-ten-numbers h3 {

            font-family: 'Lato';
            font-style: italic;
            font-weight: 700;
            font-size: 44px;
            line-height: 66px;
      }


      .about-top-ten-section-list-text h4 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
      }

      .about-top-ten-section-list-text p {

            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
      }

      .iHerb-House-Brands-offer-section-text-size-for-mobile {
            text-align: center;
      }


      .about-last-section-for-moile {
            display: none;
      }


      .iHerb-is-run-sention {
            width: 100%;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;

      }

      .iHerb-is-run-sention-wrap {
            width: 100%;
            text-align: center;
            align-items: center;

      }

      .iHerb-is-run-sention-wrap h4 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
      }



      .iHerb-is-run-sention-wrap p {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
      }


      .iHerb-is-run-cards-for-mob {
            text-align: start;
      }

      .iHerb-is-run-cards-for-mob img {
            width: 80%;
            height: 70%;
            border-radius: 8px 0px 0px 8px;
      }


      .iHerb-is-run-cards-for-mob-text p {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
      }

      .iHerb-is-run-cards-for-mob-text {
            width: 10rem;
      }


      .iHerb-is-run-cards-for-mob-text h4 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
      }



      .for-mob-is-none {
            display: none;
      }

      .iHerb-House-Brands-offer-images-sections {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

      }




      .iHerb-House-Brands-offer-images-div img {

            width: 100%;
            height: 100%;
      }

      .offer-the-best-value-is-mobile-noneeeee {
            display: none;
      }

}


@media screen and (min-width : 480px) {
      .iHerb-is-run-cards-for-mobile-dis-on {
            display: none;
      }

      .iHerb-House-Brands-offer-section-for-mobile-on {
            display: none;
      }
}


/* About End */





/* Sale and Offer start */


@media screen and (max-width : 480px) {
      .sale-last-section-for-mobile {
            display: none;
      }


      .Sales-and-offer-for-mobile {
            text-align: left;
      }

      .sales-andd-ooffer-section {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

      }


      .aaaaaa {
            text-align: left;
      }
}

/* Sale and Offer End */






/* checkout start */

@media screen and (max-width : 480px) {


      .checkousection {
            width: 100%;
            height: 50vh;
            background: #FFFFFF;
      }


      .Shopping-Cart-for-mobile-none {
            display: none;
      }

      .Start-Shopping-btn-for-mobile {
            display: none;
      }



      .check-mobile-section {
            width: 100%;
            height: 100%;
            text-align: justify;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            background: #FFF9C4;
            border: 1px solid #8A6702;
            border-radius: 8px;

      }




}


@media screen and (min-width : 480px) {
      .check-mobile-section {
            display: none;
      }

      .check-mobile-section-text {
            display: none;
      }

}


/*checkOut end  */






/* Corporate start */

@media screen and (max-width:480px) {
      .cor-our-mission-wrap h4 {
            margin-top: 1rem;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 32px;
      }


      .cor-our-mission-wrap p {

            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
      }

      .cor-our-mission-for-desktop {
            display: none;
      }

      .corporate-about {
            width: 100%;
            height: 100%;
            text-align: center;
      }



      .corporate-about h4 {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
      }


      .corporate-about p {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
      }


      .corporate-about-a-tag a {

            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 26px;
      }

      .cor-box-image-section img {
            display: none;
      }


      .years-of-bringing-for-mob h4 {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
      }



      .years-of-bringing-for-desk {
            display: none;
      }

      .at-a-Glance-for-mobile-text-size {

            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
      }


      .We-deliver-around-for-mobile h5 {
            text-align: start;

            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
      }


      .We-deliver-around-for-mobile p {
            text-align: start;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
      }


      .Press-Releases-text-size-for-mob {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
      }


      .Press-Releases-section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
      }

      .Chief-Operating-Officer {
            width: 100%;
      }


      .Chief-Operating-Officer p {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
      }



      .Chief-Operating-Officer h5 {

            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 22px;
      }


      .Chief-Operating-Officer-cards-section {
            width: 50%;
            background: #FFFFFF;
        }
  



}



@media screen and (min-width:480px) {

      .cor-our-mission-for-mobiles {
            display: none;
      }

      .years-of-bringing-for-mob {
            display: none;
      }


}




/* Corporate start */